@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter.ttf) format('ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url(/fonts/poppins-regular-webfont.woff2) format('woff2');
  }
}

.inter {
  font-family: 'Inter';
}

.poppins {
  font-family: 'Poppins';
}

.bg-logo {
  background-image: url('images/Wave.png');
  background-size: cover;
}

.bg-magnifier {
  background-image: url('images/Magnifier.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image_1 {
  background-image: url('images/image_1.jpeg');
  background-position: center;
  background-size: cover;
}

.bg-image_1_op {
  background-image: url(images/image_1.jpeg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  filter: blur(83.7);
}

.bg-left_arrow_1 {
  background-image: url(images/Left_arrow_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-right_arrow_1 {
  background-image: url(images/Right_arrow_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-twisted_arrow {
  background-image: url(images/Twisted_arrow.png);
  background-position: center;
  background-size: cover;
}

.bg-points {
  background-image: url(images/Points.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-image_2 {
  background-image: url(images/image_2.jpeg);
  background-position: center;
  background-size: cover;
}

.bg-image_2_op {
  background-image: url(images/image_2.jpeg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  filter: blur(67.51);
}

.bg-lines_3 {
  background-image: url(images/Lines_3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-reviews_1 {
  background-image: url(images/Reviews_Element_1.png);
  background-position: center;
  background-size: cover;
}

.bg-reviews_2 {
  background-image: url(images/Reviews_Element_2.png);
  background-position: center;
  background-size: cover;
}

.bg-weekly_card_1 {
  background-image: url(images/Weekly_card_1.jpeg);
  background-position: center;
}

.bg-weekly_eth {
  background-image: url(images/Weekly_ETH.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-weekly_card_2 {
  background-image: url(images/Weekly_card_2.jpeg);
  background-position: center;
  background-size: cover;
}

.bg-weekly_card_3 {
  background-image: url(images/Weekly_card_3.jpeg);
  background-position: center;
  background-size: cover;
}

.bg-weekly_card_4 {
  background-image: url(images/Weekly_card_4.jpeg);
  background-position: center;
}

.bg-weekly_card_5 {
  background-image: url(images/Weekly_card_5.jpeg);
  background-position: center;
  background-size: cover;
}

.bg-weekly_left_arrow {
  background-image: url(images/Weekly_left_arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-weekly_right_arrow {
  background-image: url(images/Weekly_right_arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-points_3 {
  background-image: url(images/Points_3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-weekly_users_1 {
  background-image: url(images/Weekly_Users_1.jpeg);
  background-position: center;
  background-size: cover;
}

.bg-weekly_users_eth {
  background-image: url(images/Weekly_Users_ETH.png);
  background-position: center;
  background-size: cover;
}

.bg-weekly_users_2 {
  background-image: url(images/Weekly_Users_2.jpeg);
  background-position: center;
  background-size: cover;
}